body {
  position: relative;
  overflow-y: scroll;
  height: auto;
}
p{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}
h2,h3,h4,button{
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}
button{
  font-size: 20px;
}
/*Navbar*/
/* cambiar el color de fondo a la barra */

nav.navbar-inverse {
    background-color: #3d3d3b;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}
.navbar-inverse .navbar-nav>li>a {
    color: #3d3d3b;
}
.navbar-header{

}

ul.nav {
  width: 81%;
  float: right;
  padding-top: 37px;
  margin-bottom: 0;
  list-style: none;
  color: #3d3d3b;
  top: 109px;
}

ul.nav li {
  font-family: "oswald",sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  width: 25%; /* fallback for non-calc() browsers */
  width: calc(100% / 4);
  box-sizing: border-box;
  border: solid 1px black;
  height: auto;
  background-color: #f6f6f6;
  color: #3d3d3b;

}
.logo {
  overflow: hidden;
  width: 175px;
  height: 120px;
  background-image: url(../img/logo_48_st_blanco.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 5px;
}
.navbar-header .navbar-toggle {
    background-color: #3d3d3b;
    color: #f6f6f6;
    position: absolute;
    right: 0px;
    left:auto;
}
@media (min-width: 768px){
  .navbar{
    border-radius: 0px;
  }
.navbar-nav>li>a {
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 0px;
}
ul.nav {
  width: 72%;
  padding-top: 45px;
}
}
@media (min-width: 991px){
.navbar-nav>li>a {
    padding-top: 7px;
    padding-bottom: 7px;
}
ul.nav {
  width: 78%;
  padding-top: 43px;
}
}
@media (min-width: 1024px){
.navbar-nav>li>a {
    padding-top: 7px;
    padding-bottom: 7px;
}
ul.nav {
  width: 79%;
  padding-top: 43px;
}
}
@media (min-width: 1440px){
.navbar-nav>li>a {
    padding-top:10px;
    padding-bottom: 10px;
}
ul.nav {
  width: 82%;
  padding-top: 37px;
}
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #f6f6f6;
    background-color:#BC1624;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #f6f6f6;
    background-color: #BC1624;
}
.top-nav-social {
    background-color: #3d3d3b;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.top-nav-social a {
    color: #f6f6f6;

}


@media (max-width: 767px){
  .navbar-inverse .navbar-collapse {
    border-color: #555;
    background-color: #444;
  }
  ul.nav {
    width: 150%;
    padding-left: 122px;
    float: left;
    padding-top: 0px;

  }
  .navbar-inverse .navbar-nav>li>a {
      color: #3d3d3b;
      width: 100%;
  }
  ul.nav li {
    width: 50%; /* fallback for non-calc() browsers */
  }
}
@media (max-width: 600px){
  .navbar-inverse .navbar-collapse {
    border-color: #555;
    background-color: #444;
  }
  ul.nav {
    width: 150%;
    padding-left: 110px;
    float: left;
    padding-top: 0px;
  }
  .navbar-inverse .navbar-nav>li>a {
      color: #3d3d3b;
      width: 100%;
  }
  ul.nav li {
    width: 50%; /* fallback for non-calc() browsers */
  }
}
@media (max-width: 425px){
  .navbar-inverse .navbar-collapse {
    border-color: #555;
    background-color: #444;
  }
  ul.nav {
    width: 150%;
    padding-left: 90px;
    float: left;
    padding-top: 0px;
  }
  .navbar-inverse .navbar-nav>li>a {
      color: #3d3d3b;
      width: 100%;
  }
  ul.nav li {
    width: 50%; /* fallback for non-calc() browsers */
  }
}
@media (max-width: 320px){
  .navbar-inverse .navbar-collapse {
    border-color: #555;
    background-color: #444;
  }
  ul.nav {
    width: 150%;
    padding-left: 68px;
    float: left;
    padding-top: 0px;
  }
  .navbar-inverse .navbar-nav>li>a {
      color: #3d3d3b;
      width: 100%;
  }
  ul.nav li {
    width: 50%; /* fallback for non-calc() browsers */
  }
}

/*Home*/
  #home{
    margin-top: 127px;
  }
  #nosotros{
    margin-top: 100px;
  }
  #menu{
    margin-top: 100px;
  }
  #contacto{
    margin-top: 100px;
  }
  .panel-primary .panel-heading, .panel-primary .panel-footer {
    background-color: #3d3d3b;
    color: #f6f6f6;
}
  .panel-heading.panel-plus-link > a, .panel-heading-link > a {
    display: block;
    width: 100%;
}
.panel-primary {
    border-color: #3d3d3b;
}
.panel {
    margin-bottom: 20px;
    background-color: #f6f6f6;
    border: 1px solid transparent;
    border-radius: 4px;
}
.panel-heading img{
  width: 90%;
}
.btn-ar.btn-primary{
  color: #f6f6f6;
  background-color: #3d3d3b!important;
  border: none;
  background: none;
  letter-spacing: 1px;
  }
