header{
  position: relative;;

}
body {
  background-image: url("../img/fondo.jpeg");
}
/*Navbar*/
.nav-responsive{
  width: 100%;
  background: #3d3d3b;
  border-right: none;
  display: block;
  position: fixed;

}
div ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.button-responsive {
  float: left;
  list-style: none;
  text-align: center;
  width: 25%; /* fallback for non-calc() browsers */
  width: calc(100% / 4);
  box-sizing: border-box;
  border: solid 1px black;

}
.logo {
  float: left;
  overflow: hidden;
  width: 25%;
  height: 170px;
  background-image: url("../img/logo_48_st_blanco.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.navbar-nav {
  width: 69%;
  padding-top:129px;
  margin-left: 40px;
}


.navbar-default .navbar-nav  li  a {
  background-color: white;
  text-transform: uppercase;
  padding: 10px;
  color: black !important;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}
.social-icon-ar {
    display: inline-block;
    width: 44px;
    height: 44px;
    color: #fff;
    text-align: center;
    font-size: 28px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 0 20px 20px 0;
}

@media(max-width: 1200px){
  .logo {
    height: 145px;
  }
  .navbar-nav{
    padding-top:110px;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 20px;
    padding: 8px;
  }
  .social-icon-ar {
      display: inline-block;
      width: 40px;
      height: 40px;
      color: #fff;
      font-size: 24px;
      margin: 0 20px 20px 0;
  }
}
@media(max-width: 992px){
  .logo {
    height: 110px;
  }
  .navbar-nav{
    padding-top: 80px;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 6px;
    font-size: 15px;
  }
}

.navbar-default.navbar-inverse .navbar-nav > li > a:hover,
.navbar-default.navbar-inverse .navbar-nav > li > a:focus,
.navbar-default.navbar-inverse .navbar-nav > .active > a,
.navbar-default.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-default.navbar-inverse .navbar-nav > .active > a:focus .navbar-default.navbar-inverse .navbar-nav > .open > a,
.navbar-default.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-default.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #BC1624;
  background-image: none;
  color: white !important;
}

.slidebar-social-icons{
  position: fixed;
  right: 80px;
  top: 10px;
  z-index: 1001;
}

.navbar-inverse {
    background-color: #3d3d3b;
}


.social-icon-ar.round {
    border-radius: 50%;
}



/*Home*/
  #home{
    position:static;
    margin-top: 122px;

  }
